@media screen and ( max-width:1500px)
    .phone
        margin-left: 0
    .logo
        margin-right: 0
@media screen and ( max-width:1257px)
    .phone
        margin-right: 0
@media screen and ( max-width:1200px)
    .team
        &__card
            &__exptag
                text-align: right
    .phone
        margin-right: 3rem
    html
        font-size: 12px

    .nav
        &__item
            margin-right: 2.1rem
@media screen and ( max-width:1077px)
    .phone
        display: none
@media screen and ( max-width:992px)
    .nav
        display: none
    .phone
        display: inline
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width:750px)
    .col
        &-100
            width: 100%
            margin-bottom: 2.5rem
    .swiper
        &-slide
            display: flex
            flex-wrap: wrap
            &-img
                margin-top: 2rem
            &__text
                padding-bottom: 0
                margin: 0
    .section
        &-team
            background-color: #000000
        &-work
            display: none
        &-steps
            display: none
        &-clients
            display: none
        &-title
            text-align: center
            &--left
                text-align: left
                min-width: 21.42rem
            &__word
                display: block
                &::after
                    display: none
            &-team
                 margin-top: 0
    .team
        &__card
            margin-bottom: 5rem
        &__main
            &-text
                display: none
    .col-40
        order: 1
    .col-60
        order: 2
    .design
        &__card
            margin-bottom: 5rem
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
        &__item:nth-child(n+8)
            display: none
    .footer
        background-color: $black
        padding: 0
        &__map
            max-height: 255px
        &__coordinations
            display: flex
            flex-direction: column-reverse
            &__main
                display: flex
                flex-direction: column
        &-wrap
            display: flex
            flex-direction: column
            margin-top: 0
        &__form
            margin: 0
            
@media screen and ( max-width:576px)
    .section
        &__control
            background-color: $dark
            color: $light
            padding-bottom: 0
    .types
        padding-top: 0
        &__section
            &-title
                margin-top: 4rem
    .footer
        padding-top: 0
        background-color: #000000
        background-image: none
        &-wrap
            background-color: #000000
        &__menu
            display: none
        &__menu
            background-color: #000000
        &__form
            flex-direction: column
            flex-basis: 100%
        &__button
            width: 100%
    .footer
        background-color: #000000
        padding: 0
        &__map
            max-width: 20rem
            margin: 0 auto
    .policy
        &__label--left
            justify-content: start
    .control
        &__video
            min-width: 24rem
            min-height: 14.7rem
            color: $light
        &__input
            &-group
                margin-bottom: 2rem
        &__form
            flex-direction: column
    .control
        &__input
            &-group
                order: 1
        &__policy
            order: 2
        &__button
            order: 3
            margin-bottom: -2rem


    
        
    .contacts
        &__phone
            margin-left: 0
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem 
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem 
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem 
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
        &__button--outline
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .design
        background-color: #000000
        &__section-title
            color: #ffffff
    .section-title-text
        color: #fff
@media screen and ( max-height:600px)
    .hero
        &__scroll-down
            display: none 