@media screen and ( max-width:1500px)
    .phone
        margin-left: 0
    .logo
        margin-right: 0
@media screen and ( max-width:1257px)
    .phone
        margin-right: 0
@media screen and ( max-width:1200px)
    .phone
        margin-right: 3rem
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 2.1rem
@media screen and ( max-width:1077px)
    .phone
        display: none
@media screen and ( max-width:992px)
    .nav
        display: none
    .phone
        display: inline
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width:750px)
    .col
        &-100
            width: 100%
            margin-bottom: 2.5rem
    .swiper
        &-slide
            display: flex
            flex-wrap: wrap
            &-img
                margin-top: 2rem
            &__text
                padding-bottom: 0
                margin: 0
    .section
        &-work
            display: none
        &-title
            text-align: center
            &--left
                text-align: left
                min-width: 21.42rem
            &__word
                display: block
                &::after
                    display: none
    .col-40
        order: 1
    .col-60
        order: 2
    .design
        &__card
            margin-bottom: 5rem
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
        &__item:nth-child(n+8)
            display: none
            
@media screen and ( max-width:576px)
    .section
        &__control
            background-color: $dark
            color: $light
    .control
        &__video
            min-width: 24rem
            min-height: 14.7rem
            color: $light
        &__input
            &-group
                margin-bottom: 2rem
        &__form
            flex-direction: column

            
        
    .contacts
        &__phone
            margin-left: 0
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem 
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem 
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem 
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
        &__button--outline
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .design
        background-color: #000000
        &__section-title
            color: #ffffff
    .section-title-text
        color: #fff
@media screen and ( max-height:600px)
    .hero
        &__scroll-down
            display: none 