*,*:before,*:after
    box-sizing: border-box
html
    font-size: 14px
body 
    font-family: 'Futura Book'
    font-size: 1rem 
img
    max-width: 100%
.section
    padding: 60px 0
    &-project
        &__title
    &--dark
        background-color: $dark
        color: $light
    &__subtitle
        text-transform: uppercase
        font-size: 1.13rem
        line-height: 1.5rem
        margin-bottom: 0
        display: block
        &--primary
            color: $primary
        &__number
            font-weight: normal
            font-family: Yeseva One
            font-size: 1.3rem
            margin-bottom: 1.5rem
    &-title
        text-align: center
        font-weight: normal
        &-work
            &__heading
                font-size: 1.9rem
                margin-top: 1rem
                margin-right: 2rem
            &__word
                display: flex 
                align-items: center
                &::after
                    content: ''
                    width: 90px
                    height: 1px
                    background-color: $primary
                    margin-left: 6.4rem

        &-projects
            &__heading
                font-weight: normal
                font-size: 1.78rem
                line-height: 2.84rem
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 90px
                height: 1px
                background-color: $primary
                margin-left: 2rem
        &__text
            font-size: 1.28rem
            line-height: 2.07rem
            max-width: 31.57rem
            margin-bottom: 2.2rem
        &--left
            text-align: left
        &__heading
            text-transform: uppercase
            font-family: 'Yeseva One',cursive
            line-height: 138.6%
            &--primary
                color: $primary
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::before, &::after 
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0px 10px
                border-radius: 2px