.footer
    background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
    padding-top: 3rem
    &__map
        margin: 0 auto
        max-width: 66.07rem
        margin-bottom: 2rem
        min-height: 33.214rem
    &__menu
        background-color: $dark
        padding: 4.285rem 0
    &-wrap
        background-color: $black
        max-width: 63.07rem
        margin: auto
        padding: 2.5rem
        margin-bottom: 3.714rem
        margin-top: -19rem
    &__title
        text-transform: uppercase
        font-family: 'Yeseva One' , cursive
        font-size: 1.428rem
        text-align: center
        margin-bottom: 3.214rem
        margin-top: 0
        color: $light
    &__form
        display: flex
        flex-wrap: wrap
        max-width: 37.142rem
        margin: auto
        justify-content: space-between
    &__input
        padding-top: 0.3rem
        &-group
            display: flex
            flex-direction: column
            flex-basis: 44%
            margin-bottom: 3.2rem
            &--full-width
                flex-basis: 100%
                margin-bottom: 2rem
    &__policy
        color: $light
        margin-bottom: 3.6rem
        flex-basis: 100% 
    &__button
        padding: 18px 62px
        font-size: 1.075rem
        margin: auto
    &__coordinations
        &__marks
            max-width: 5rem
            margin: auto
            display: flex
            justify-content: space-between
            margin-bottom: 3rem

        &__title
            max-width: 35rem
            margin: 0 auto
            font-family: 'Yeseva One'
            font-style: normal
            font-weight: normal
            font-size: 1.2rem
            line-height: 2rem
            text-align: center
            text-transform: uppercase
.ymap-container 
    margin: 0 auto
    max-width: 66.07rem
    min-height: 33.214rem
    cursor: pointer
    background: url('../img/yandex-before-load.png') #ffffff no-repeat center
    margin-bottom: 2rem

#map-yandex 
    position: relative
    z-index: 7
    width: 66.07rem
    max-width: 66.07rem
    min-height: 33.214rem
    cursor: pointer
    background-color: transparent

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader 
    position: absolute
    z-index: 15
    top: -100%
    left: 0

    box-sizing: border-box
    width: 100%
    height: 100%

    overflow: hidden

    color: #000000

    transition: opacity .7s ease

    opacity: 0
    background-color: rgba(0,0,0,.55)
.loader:after,
.loader:before 
    box-sizing: border-box
.loader.is-active 
    top: 0

    opacity: 1

.loader-default:after 
    position: absolute
    top: calc(50% - 24px)
    left: calc(50% - 24px)

    width: 48px
    height: 48px

    content: ''
    -webkit-animation: rotation 1s linear infinite
    animation: rotation 1s linear infinite

    border: solid 8px #ffffff
    border-left-color: transparent
    border-radius: 50%

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0)
    transform: rotate(0)

  to 
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)


@keyframes rotation 
  from 
    -webkit-transform: rotate(0)
    transform: rotate(0)

  to 
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)

@-webkit-keyframes blink 
    from 
        opacity: .5

    to 
        opacity: 1

@keyframes blink 
    from 
        opacity: .5

    to 
        opacity: 1
